ANTHROPIC_BASE_URL=http://localhost:1234
ANTHROPIC_AUTH_TOKEN=lmstudio
MODEL=mistralai/ministral-3-3b
# LM Studio now also supports Anthropic /v1/messages endpoint, which is more compatible with the official Anthropic API. You can switch to it by uncommenting the line below.
ANTHROPIC_USE_MESSAGES_ENDPOINT=true
